# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite
db.sqlite3
media/
staticfiles/
.env
.env.*
*.env
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Virtualenv
venv/
env/
ENV/
.venv/
.Python

# Migrations
*/migrations/
!*/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache
.pytest_cache/
.coverage.*

# MyPy
.mypy_cache/
.dmypy.json

# Test output
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pipenv
Pipfile.lock

# Docker
*.pid

# Other
*.swp
*.swo
.idea/